.jumbotron {
  padding-top: 20px;
}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e6e6e6;
}

#quality {
  padding-right: 100px;
  padding-left: 100px;
}

#education {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #e6e6e6;
}
